@using PenguinUpload
@{
    ViewData["Title"] = "PenguinUpload";
}

<div id="app"></div>
<!-- built files will be auto injected -->

@section scripts {
  <script>
      window.$appVersion = '@PenguinUploadRegistry.Version';
  </script>
  <script src="/dist/main.js" asp-append-version="true"></script>
}